.col1{
    background-color: aquamarine ;
    color: white;
}

.col2{
    background-color:aqua ;
    color: white;
}

.nest1{
    background-color:pink;
    color: white;
}
.nest2{
    background-color: burlywood;
    color: white;
}